<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/fontawesome/css/css/brands.css">
    <link rel="stylesheet" href="/fontawesome/css/css/solid.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile/<%= user.user %></title>
</head>
<body>
<%- include ('../partials/navbar.ejs'); %>
    <div class="box-all">
        <div class="box-profile">
         <div class="profile-header">
          <div class="profile-photo">
            <img src="/img/cat-astronaut-poster.jpg" alt="">
            <div class="profile-actions">
              <div class="action-edit">
                <a href="#">
                  <i class="fas fa-pencil-alt" id="borde"></i>
                </a>
              </div>
              <div class="action-verify">
               <a href="#">
                <i class="fas fa-certificate" id="borde"></i>
               </a>
              </div>
            </div>
          </div>
          <!--Infos-->
          <div class="profile-infos">
            <div class="info-names">
              <h4><%= user.name %> <%= user.last %></h4>
              <div class="bar-name"></div>
              <h6>@<%= user.user %></h6>
            </div>
            <div class="bar"></div>
            <div class="info-user">
              <div class="info-user-1">
                <h5>10</h5>
                <p>Paticipa</p>
              </div>
              <div class="info-user-2">
                <h5>5</h5>
                <p>Criou</p>
              </div>
              <div class="info-user-3">
                <h5>8</h5>
                <p>Amigos</p>
              </div>
            </div>
          </div>
         </div>
        </div>
        <div class="box-topics">
          <div class="topics-header">
            <h3>Meus Topicos</h3>
            <div class="bar-head"></div>
          </div>
          <div class="topics-body">
          <%topic.forEach(topic=>{%>
            <div class="topics-body-item">
                <div class="item">
                  <a href="/topic/<%= topic.category %>/<%= topic.id %>/<%= topic.subtitleId %>"><%= topic.title %></a>
                  <!-- Exemplo de único botão danger -->
                  <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Alguma ação</a>
                      <a class="dropdown-item" href="#">Outra ação</a>
                      <a class="dropdown-item" href="#">Alguma coisa aqui</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Link separado</a>
                    </div>
                  </div>
                </div>
            </div>
          <%})%>
          </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/fontawesome/js/all.js"></script>
<script defer src="/fontawesome/js/solid.js"></script>
  <script defer src="/fontawesome/js/fontawesome.js"></script>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
});
</script>
</html>